<div class="form animated flipInX">
  <h2>Get Going!</h2>
  <form action="trips/new">
    <input placeholder="Starting Point" type="text"></input>
    <input placeholder="Destination" type="password"></input>
    <button>Explore</button>
  </form>
</div>

