<div class="title">
 <p> Day Tripper <p>
</div>


<!-- <img id="doggie" src="/assets/DayTripper_Dog.png"> -->

<!-- <div id="moveform" class="form animated flipInX"> -->

    <h1 class="font">Get In. Get Out. Go.</h1>
 <%= form_for @trip do |f| %>

          <%= f.text_field :origin, placeholder: "Starting Point", class: 'form-control', type: 'text' %>
          <%= f.text_field :destination, placeholder: "Destination", class: 'form-control', type: 'text' %>

          <%= f.submit %>
          <% end %>
          <a href="#">Login</a> |
          <a href="#">Register</a>
</div>
