

<div ng-app ng-controller="dayTripper">

  <div class="maincontainer">
    <div class="row">
      <div class="col-md-3">


        <div>
          <img class="dog" src="/assets/DayTripper_Dog_small.png">
          <h1 class="logo">Day Tripper</h1>
        </div>


        <!--INPUT-FORM-->
        <div class="formwrapper sidebar-scroll">
          <%= form_for @trip do |f| %>


          <%= f.text_field :origin, placeholder: "Starting Point", value: Trip.last.origin, class: 'form-control', type: 'text' %>
          <div style="line-height:50%;">
              <br>
          </div>
          <%= f.text_field :destination, placeholder: "Destination", value: Trip.last.destination, class: 'form-control', type: 'text' %>
          <div style="line-height:50%;">
              <br>
          </div>
          <% end %>

          <form>
            <div class="input-group">
             <input id="searchbar" placeholder="Search for tacos, shopping, attactions, etc..."class="form-control" type="text" ng-model="placesSearch" />
             <div class="input-group-btn">
               <button class="btn btn-primary searchbutton" type="submit" ng-click="search()"/><i class="glyphicon glyphicon-search"></i></button>
             </div>
           </div>
         </form>

         <%# Places Link %>

          <div class="panel panel-default">
            <div class="panel-heading" id="first-panel">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-cutlery">
                </span>Local Places <span style="float:right;" class="glyphicon glyphicon-chevron-right light-grey" id="first-panel-span"</span></a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse in collapse panel-scroll">
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <div>
                      <ul>
                        <!--<li ng-repeat="detail in placeDetails">-->

                        <li ng-repeat="detail in placeDetails">
                          <div class="infobox">
                                  <div class="name">
                                      <a href="{{detail.url}}" target="_blank"><h4>{{detail.name}}</h4></a>
                                  </div>

                                <div class="sidebarinfo">
                                    <img src="{{detail.rating_img_url}}" style="width:30%; height:30%;"/>
                                    <h5>{{detail.review_count}} Reviews</h5>
                                    <h6 style="width:160px;">{{detail.address1}}, {{detail.city}} {{detail.state}}, {{detail.zip}}</h6>

                                    <div role="button" data-toggle="button" class="btn btn-primary add" ng-click="toggleWaypoint(true, detail.id)" style="     max-width: 30%;" >Add to Route
                                    </div>
                                </div>

                                <div class="listimg">
                                  <img src="{{detail.photo_url}}" style="border-radius:20px; margin-top: -170px; margin-left: 170px; height:30%; width:30%;"/>
                                </div>

                          </div>




                          <div class="row" />
                        </div>

                      </li>

                    </ul>

                  </div>
                </tr>
              </table>
            </div>
          </div>
        </div>



        <%# Directions Link %>

        <div class="panel panel-default">
          <div class="panel-heading" id="second-panel">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-road">
              </span>Direction <span style="float:right;" class="glyphicon glyphicon-chevron-down light-grey" id="second-panel-span"</span></a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse panel-scroll">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <div id="directions"></div>
                </tr>
              </table>

            </div>
          </div>
        </div>


        <%# Saved Places %>


        <div class="panel panel-default">
          <div class="panel-heading" id="third-panel">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <span class="glyphicon glyphicon-heart">
                </span>Saved Places
                <span style="float:right;" class="glyphicon glyphicon-chevron-down light-grey" id="third-panel-span"></span>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse panel-scroll">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <div>
                    <ol>


                      <li ng-repeat="detail in savePlaces" >
                        <div style="float: left; max-width: 70%">
                          <h5>{{detail[0].name}}</h5>
                          <h6>{{detail[0].address1}}, {{detail[0].city}} {{detail[0].state}}, {{detail[0].zip}}</h6></div>
                          <div class="btn btn-default" ng-click="removeFromPlaces(detail[0].id)" style=" max-width: 30%; float:right"> Remove</div>
                          <div class="row" />
                        </li>


                      </ol>
                    </div>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary bb" ng-click="search()">Get New Route</button>
      </div>





    <div class= "map_container">
      <div id="map_canvas"></div>
    </div>

  </div>

</div>


</div>


</div> <%# controller div%>
