<div ng-app ng-controller="dayTripper">

  <div class="maincontainer">
    <div class="row">
      <div class="col-md-3">

        <!--INPUT---FORM-->
        <div class="formwrapper sidebar-scroll">
          <%= form_for @trip do |f| %>


          <%= f.text_field :origin, placeholder: "Starting Point", value: "{{routeFrom}}", :'ng-model' => 'routeFrom' , class: 'form-control' %><br/>
          <%= f.text_field :destination, placeholder: "Destination", value: "{{routeTo}}", :'ng-model' => 'routeTo', class: 'form-control' %><br/>
          <% end %>

          <form>
             <input placeholder="Search for tacos, shopping, attactions, etc..."class="form-control" type="text" ng-model="placesSearch" />
             <input class="btn btn-primary" type="submit" ng-click="search()"/>
         </form>

        <%# Places Link %>

        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-th">
                  </span>Local Places</a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in panel-scroll">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <div>
                    <ol>
                      <!--<li ng-repeat="detail in placeDetails">-->

                      <li ng-repeat="detail in placeDetails">
                       
                        <div style="float: left; max-width: 70%">
                          <h5>{{detail.name}}</h5>
                          <h6>{{detail.address1}}, {{detail.city}} {{detail.state}}, {{detail.zip}}</h6>
                        </div>  
                        <div class="btn btn-default" ng-click="toggleWaypoint(true, detail.id)" style="     max-width: 30%; float:right">Add
                        </div> 
                          <div class="row" />
                        </div>
                      </li>
                  
                    </ol>

                  </div>
                </tr>
              </table>
            </div>
          </div>
        </div>



        <%# Directions Link %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-folder-close">
              </span>Direction</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse panel-scroll">
            <div class="panel-body">
              <table class="table">
                  <tr>
                      <div id="directions"></div>
                  </tr>
              </table>

            </div>
          </div>
        </div>


        <%# Saved Places %>


         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-heart">
                    </span>Saved Places</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse panel-scroll">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                          <div>
                            <ol>
                                       

                              <li ng-repeat="detail in savePlaces" >
                                    <div style="float: left; max-width: 70%">
                                    <h5>{{detail[0].name}}</h5>
                                    <h6>{{detail[0].address1}}, {{detail[0].city}} {{detail[0].state}}, {{detail[0].zip}}</h6></div> 
                                    <div class="btn btn-default" ng-click="removeFromPlaces(detail[0].id)" style=" max-width: 30%; float:right"> Remove</div> 
                                    <div class="row" />
                               </li>


                            </ol>
                          </div>
                        </tr>
                    </table>
                  </div>  
                </div>
             </div>   
        
        </div>
      </div>
      <div class= "map_container">
        <div id="map_canvas"></div>
      </div>

    </div>

  </div>


</div>


</div> <%# controller div%>            