
<div class="container-fluid">
    <div class="row-fluid">
        <div id="sidebar" class="span3 scrollDiv" style="display: none;">
            <!--Sidebar content-->
            <div class="accordion" id="accordianParent">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#sectionOne">
                            Section One
                        </a>
                    </div>
                    <div id="sectionOne" class="accordion-body collapse">
                        <div class="accordion-inner-small">
                            Here is all the wonderful stuff in section ONE.<br/>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#sectionTwo">
                            Section Two
                        </a>
                    </div>
                    <div id="sectionTwo" class="accordion-body collapse">
                        <div class="accordion-inner-small">
                            Here is all the wonderful stuff in section TWO.<br/>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle-small" data-parent="#accordianParent" data-toggle="collapse" href="#sectionThree">
                            Section Three
                        </a>
                    </div>
                    <div id="sectionThree" class="accordion-body collapse">
                        <div class="accordion-inner-small">
                            Here is all the wonderful stuff in section THREE.<br/>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="span12">
            <div id="map_canvas" style="height: 400px; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"></div>
        </div>
        <a id="toggleSidebar" href="#" class="toggles"><i class="icon-chevron-right"></i></a>
    </div>
</div> <!-- /container -->






    <div ng-app ng-controller="dayTripper">


        <!--INPUT---FORM-->
    <div class="col-sm-4 col-sm-offset-0">
      <%= form_for @trip do |f| %>


        <%= f.text_field :origin, placeholder: "origin", value: "{{routeFrom}}", :'ng-model' => 'routeFrom' , class: 'form-control' %><br/>
        <%= f.text_field :destination, placeholder: "destination", value: "{{routeTo}}", :'ng-model' => 'routeTo', class: 'form-control' %><br/>


        <%= f.submit "Save Trip", class: 'btn btn-primary' %>

      <% end %>
    </div>


        <div class="textcenter">
            <button id="routeGo" ng-click="calcRoute()">Route</button>
            <button id="routeClear" ng-click="clearDirections()">Clear Route</button>
        </div>

        <div id="directions"></div>

        <form ng-click="search()">
           <input type="text" ng-model="placesSearch" />
           <input type="submit" />
        </form>

        <div>
          <h2>Way Points</h2>
          <ol>
            <li ng-repeat="detail in placeDetails">
              <h4>{{detail.name}}</h4>
              <h5>{{detail.address1}}, {{detail.city}} {{detail.state}}, {{detail.zip}}</h5>
            </li>
          </ol>
        </div>


    </div>



