<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <div id="directions"></div>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-app ng-controller="dayTripper">


        <!--INPUT---FORM-->
    <div class="col-sm-4 col-sm-offset-0" style = "margin-top:50px;">
      <%= form_for @trip do |f| %>


        <%= f.text_field :origin, placeholder: "origin", value: "{{routeFrom}}", :'ng-model' => 'routeFrom' , class: 'form-control' %><br/>
        <%= f.text_field :destination, placeholder: "destination", value: "{{routeTo}}", :'ng-model' => 'routeTo', class: 'form-control' %><br/>

        <%= f.submit "Save Trip", class: 'btn btn-primary' %>

      <% end %>
    </div>


        <div class="textcenter">
            <button id="routeGo" ng-click="calcRoute()">Route</button>
            <button id="routeClear" ng-click="clearDirections()">Clear Route</button>
        </div>


        <div id="content" class="span12">
            <div id="map_canvas" style="height: 400px; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"></div>
        </div>

        

        <div>
          <h2>Way Points</h2>
          <ol>
            <li ng-repeat="detail in placeDetails">
              <h4>{{detail.name}}</h4>
              <h5>{{detail.address1}}, {{detail.city}} {{detail.state}}, {{detail.zip}}</h5>
            </li>
          </ol>
        </div>


    </div>




                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->








