

  
<script type='text/javascript'>//<![CDATA[ 

    function dayTripper($scope, $http, $route) {
        
        //var directionsDisplay = new google.maps.DirectionsRenderer({ draggable: true });
        //var directionsService = new google.maps.DirectionsService();
        //var map;

        $scope.directionsDisplay = new google.maps.DirectionsRenderer({ draggable: true });
        $scope.directionsService = new google.maps.DirectionsService();
        $scope.placeDetails = new Array();
        $scope.numPointsAlongRoute = 20;
        $scope.numPlacesPerPoint = 4;
        $scope.apiDelay = 1000;
        $scope.placesSearch = "gas_station";
        $scope.infowindow = new google.maps.InfoWindow();

        // $scope.markers = [];
        $scope.bounds = new google.maps.LatLngBounds ();
        
        //$scope.map;
        //$scope.routeFrom = "Los Angeles, CA";
        //$scope.routeTo == "Madison, WI";

        $scope.init = function() {

            var myOptions = {
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: new google.maps.LatLng(35.270, -80.837)
            };

            $scope.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            $scope.placesService = new google.maps.places.PlacesService($scope.map);
            $scope.directionsDisplay.setMap($scope.map);
            $scope.directionsDisplay.setPanel(document.getElementById("directions"));

            //secret token
        }

        $scope.calcRoute = function() {

            //$scope.getYelp('Food');

            var request = {
                origin: $scope.routeFrom,
                destination: $scope.routeTo,
                travelMode: google.maps.TravelMode["DRIVING"]
            };

            $scope.directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    $scope.directionsDisplay.setDirections(response);
                    console.log("Route Response:");
                    console.log(response);

                    var allPoints = response.routes[0].overview_path;
                    var selectedPoints = $scope.cherryPickPoints(allPoints, $scope.numPointsAlongRoute);

                    for (var i = 0; i < selectedPoints.length; i++) {
                        //$scope.findPlaces(selectedPoints[i].B, selectedPoints[i].k);
                        $scope.getYelp($scope.placesSearch, selectedPoints[i].B, selectedPoints[i].k);
                    }
                }
            });

            
        }

        /*
        $scope.getYelp = function(term) {
            console.log("In getYelp");

            var auth = { 
                consumerKey: "eVPyWoCRqdWAxPbWF-1rNA", 
                consumerSecret: "ah4MRUz9POQxJg8msIx_KiCuZBg",
                accessToken: "GOBtpNRQJVdUH6cJNXjJT8iOnrhbWDtJ",
                accessTokenSecret: "lJFK127gbHwz2jud0Tq0ENy5S7I",
              };

              var terms = term;
              var near = 'San+Francisco';

              var accessor = {
                consumerSecret: auth.consumerSecret,
                tokenSecret: auth.accessTokenSecret
              };

              var parameters = [];
              parameters.push(['term', terms]);
              parameters.push(['location', near]);
              parameters.push(['oauth_consumer_key', auth.consumerKey]);
              parameters.push(['oauth_consumer_secret', auth.consumerSecret]);
              parameters.push(['oauth_token', auth.accessToken]);

              var message = { 
                'action': 'http://api.yelp.com/v2/search',
                'method': 'GET',
                'parameters': parameters 
              };

              OAuth.setTimestampAndNonce(message);  
              OAuth.SignatureMethod.sign(message, accessor);

              var parameterMap = OAuth.getParameterMap(message.parameters);
              parameterMap.oauth_signature = OAuth.percentEncode(parameterMap.oauth_signature)

              var url = OAuth.addToURL(message.action,parameterMap);
              var response = UrlFetchApp.fetch(url).getContentText();

              console.log("Yelp Response:");
              console.log(response);

              var responseObject = Utilities.jsonParse(response);
        }
        */

        //function to get data from YELP
        $scope.getYelp = function(term, lat, lng)
        {
            console.log("In getYelp()");

            /*
            bounds = new google.maps.LatLngBounds();
            var request_data = {
                url: 'http://api.yelp.com/v1/search?term=food&location=San+Francisco',
                method: 'POST',
                data: {
                    status: 'Hello Ladies + Gentlemen, a signed OAuth request!'
                }
            };

            $.ajax({
                url: request_data.url,
                dataType: 'jsonp',
                type: request_data.method,
                data: $scope.oauth.authorize(request_data, $scope.token)
            }).done(function(data) {
                //process your data here
                console.log("Yelp Response");
                console.log(data);

                $.each(data.businesses, function(i,item){
                    trace(item);
                    infowindowcontent = '<strong>'+item.name+'</strong><br>';
                    infowindowcontent += '<img src="'+item.photo_url+'"><br>';
                    infowindowcontent += '<a href="'+item.url+'" target="_blank">see it on yelp</a>';
                    
                    //yoh.createYelpMarker(i,item.latitude,item.longitude,item.name, infowindowcontent);
                }); 
            });
            */

            $.getJSON('http://api.yelp.com/business_review_search?lat='+lng+'&long='+lat+'&limit=20&ywsid=ynoYeq0HNwWfPKFRqK-5qg&term='+term+'&callback=?',
                function(data)
                {
                    
                    console.log("Yelp Response");
                    console.log(data);

                    
                    
                    
                    // $.each(data.businesses[0], function(i,item){
                        
                    //     infowindowcontent = '<strong>'+item.name+'</strong><br>';
                    //     infowindowcontent += '<img src="'+item.photo_url+'"><br>';
                    //     infowindowcontent += '<a href="'+item.url+'" target="_blank">see it on yelp</a>';
                        
                        //$scope.createPlacesMarker(data.businesses[0].latitude, data.businesses[0].longitude, data.businesses[0].name);

                    if (data.businesses.length > 0) {
                        $scope.placeDetails.push(data.businesses[0]);

                        $scope.createPlacesMarker(data.businesses[0]);

                        $scope.$apply(); // necessary to update list   
                    }

                     
                    //     //yoh.createYelpMarker(i,item.latitude,item.longitude,item.name, infowindowcontent);
                    // }); 
                                            
                }
            );
            
        }
        



        //Function to create yelp marker
        $scope.createPlacesMarker = function(business)
        {
            console.log("Business:");
            console.log(business);
            //var yelpContent = "Hello";


            infowindowcontent = '<strong>'+business.name+'</strong><br>';
            infowindowcontent += '<img src="'+business.photo_url+'"><br>';
            infowindowcontent += '<a href="'+business.url+'" target="_blank">see it on yelp</a>';
            infowindowcontent += '<strong>Rating ' + business.avg_rating+'</strong><br>';

            var markerLatLng = new google.maps.LatLng(business.latitude, business.longitude);  
            var infowindow = new google.maps.InfoWindow({
                content: infowindowcontent
            });
            
            //extent bounds for each stop and adjust map to fit to it
            
            //$scope.bounds.extend(markerLatLng);
            //$scope.map.fitBounds($scope.bounds);
            
               var marker =  new google.maps.Marker({
                position: markerLatLng,
                map: $scope.map,
                title: business.name,
                icon: 'http://yohman.bol.ucla.edu/images/yelp.png'
            });

            //$scope.directionsDisplay.setMap($scope.map);

            /*
            $scope.markers.push(new google.maps.Marker({
                position: markerLatLng,
                map: $scope.map,
                title: title,
                icon: 'http://yohman.bol.ucla.edu/images/yelp.png'
            }));
            */
        
            //add an onclick event
            
            google.maps.event.addListener(marker,'click', function() {
                // infowindow.setContent(infowindowcontent);
                infowindow.open($scope.map, marker);
            });
            
        }

        $scope.findPlaces = function(lat, lng) {
            var coord = new google.maps.LatLng(lng, lat);

            var request = {
              location: coord,
              radius: '5000',
              //keyword: $scope.placesSearch
              type: ['gas_station']
            };

            setTimeout( function() {
                $scope.placesService.radarSearch(request, function(allPlaces, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        console.log("Radar Response:");
                        console.log(allPlaces);
                        var selectedPlaces = $scope.cherryPickPlaces(allPlaces, $scope.numPlacesPerPoint);

                        for (var i = 0; i < selectedPlaces.length; i++) {
                            $scope.getPlaceDetails(selectedPlaces[i].place_id);
                        }
                    }
                    else {
                        console.log("ERROR");
                        console.log(status);
                    }
                });
            }, $scope.apiDelay );
        }

        

        // $scope.getPlaceDetails = function(place_id) {  

        //     var request = {
        //         placeId: place_id
        //     };

        //     //service = new google.maps.places.PlacesService(map);
        //     // Setting delay to prevent OVER_QUERY_LIMIT error
        //     setTimeout( function() {
        //           $scope.placesService.getDetails(request, function(place, status) {
        //               if (status == google.maps.places.PlacesServiceStatus.OK) {
        //                     //createMarker(place);
        //                     console.log("Place Response:");
        //                     console.log(place);
        //                     $scope.createPlacesMarker(place.geometry.location.k, place.geometry.location.B, place.name);


        //                     $scope.placeDetails.push(place);
        //                     $scope.$apply(); // necessary to update list
        //               }
        //               else {
        //                   console.log("Place Details ERROR:");
        //                   console.log(status);
        //               }
        //           });
        //       }, $scope.apiDelay );
        // }

        $scope.clearDirections = function() {
            //$scope.directionsDisplay.setDirections({ routes: [] });
            $route.reload();
        }

        $scope.cherryPickPlaces = function(places, limit) {
            var selectedPlaces = $scope.splitArray(places, limit);
            console.log("Selected Places:");
            console.log(selectedPlaces);

            var rtn = new Array();
            for (var i = 0; i < selectedPlaces.length; i++) {
                rtn.push(selectedPlaces[i][0]);
            }
            return rtn;
        }

        $scope.cherryPickPoints = function(points, limit) {
            var selectedPoints = $scope.splitArray(points, limit);
            console.log("Selected Points:");
            console.log(selectedPoints);

            var rtn = new Array();
            for (var i = 0; i < selectedPoints.length; i++) {
                rtn.push(selectedPoints[i][0]);
            }
            return rtn;
        }

        $scope.splitArray = function(arr, chunkSize) {
            var len = arr.length,out = [], i = 0;

            while (i < len) {
                var size = Math.ceil((len - i) / chunkSize--);
                out.push(arr.slice(i, i += size));
            }

            return out;
        }

        $scope.init();

        //google.maps.event.addDomListener(window, 'load', initialize);
    }

    
//]]></script>

    <div ng-app ng-controller="dayTripper">
        
        <!--
        <input type="text" id="routeFrom" name="routeFrom" ng-model="routeFrom" placeholder="Los Angeles, CA" />
        <label for="routeFrom">From</label><br />

        <input type="text" id="routeTo" name="routeTo" ng-model="routeTo" placeholder="Madison, WI" />
        <label for="routeTo">To</label><br />
-->

        <!--INPUT---FORM-->
		<div class="col-sm-4 col-sm-offset-0">
		  <%= form_for @trip do |f| %>

		  	
		    <%= f.text_field :origin, placeholder: "origin", value: "{{routeFrom}}", :'ng-model' => 'routeFrom' , class: 'form-control' %><br/>
		    <%= f.text_field :destination, placeholder: "destination", value: "{{routeTo}}", :'ng-model' => 'routeTo', class: 'form-control' %><br/>
		    

		    <%= f.submit "Save Trip", class: 'btn btn-primary' %>

		  <% end %>
		</div>  


        <div class="textcenter">
            <button id="routeGo" ng-click="calcRoute()">Route</button>
            <button id="routeClear" ng-click="clearDirections()">Clear Route</button>
        </div>

        <div id="map_canvas"></div>
        <div id="directions"></div>

        <div>
          <h2>Way Points</h2>
          <ul>
            <li ng-repeat="detail in placeDetails">
              <h4>{{detail.name}}</h4>
              <h5>{{detail.address1}}, {{detail.city}} {{detail.state}}, {{detail.zip}}</h5>
            </li>
          </ul>
        </div>

        
    </div>
  

