/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD
body{
overflow: hidden;
=======

<<<<<<< HEAD
body {
    padding-top: 50px;
}
=======
 @import 'bootstrap';
 

>>>>>>> 1124c014881777b11f3d4658de205c2fe43d2a85

#content {
    margin-left: 5px;
}

#mapCanvas img {
    max-width: none;
}

#toggleSidebar {
    position:fixed;
    left:0;
    top:45px;
    display:block;
    color:#779DD7;
    padding:2px 4px;
}


.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px; /*8px 15px;*/
}

.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
>>>>>>> master
}

#map_canvas {
    height: 100%;
    width: 100%;
}

.map_container {
    margin-left: 364px;
    height: 780px;
    width: 1070px;
    position: fixed;
}
