.panel {
  margin-bottom: 0px;
}
.glyphicon {
    margin-right:10px;
}
.panel-body {
    padding:0px;
}
.panel-body table tr td {
    padding-left: 0px
}
.panel-body .table {
    margin-bottom: 0px;
}

.panel-group {
  margin-left: -150px;

}

.form-control {
  border-radius: 70px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.formwrapper {
width : 348px;
margin-top: 25px;
position: fixed;
}

.sidebar-scroll {
  max-height: 820px;
  overflow: hidden;
  overflow-y: auto;
}

.panel-scroll {
      max-height: 320px;
  overflow: hidden;
  overflow-y: auto;
  }

.panel a:hover {
 text-decoration:none;
 color:#222;
}

.searchbutton {
  border-radius: 70px;
  right: 24px;
}

#searchbar {
  width: 250px;
  margin-left: 23px;
}

.input-group {
  margin-bottom: 20px;
}

