.panel {
  margin-bottom: 0px;
}
.glyphicon {
    margin-right:10px;
}
.panel-body {
    padding:0px;
}
.panel-body table tr td {
    padding-left: 0px
}
.panel-body .table {
    margin-bottom: 0px;
}

.panel-group {
  margin-left: -150px;

}

.formwrapper {
width : 348px;
}

.sidebar-scroll {
  max-height: 820px;
  overflow: hidden;
  overflow-y: auto;
}

.panel-scroll {
      max-height: 320px;
  overflow: hidden;
  overflow-y: auto;
  }

.panel a:hover {
 text-decoration:none;
 color:#222;
}
